<!DOCTYPE html>
<html>
<head>
    <title>Preview</title>
    <link rel="stylesheet" href="/static/css/iframe.css">
</head>
<body>
<a href="{{ link }}" target="_blank">
    <div class="link-preview">
        <img src="{{ thumbnail }}" class="link-thumbnail">
        <div class="link-content">
            <div class="link-title">{{ title }}</div>
            <div class="link-desc">{{ description }}</div>
            <div class="link-link">{{ link_text }}</div>
            <div class="link-author">
                {% if author != '' %}
                By {{ author }}
                {% endif %}
            </div>
        </div>
    </div>
</a>
</body>
</html>