<!DOCTYPE html>
<html>
<head>
    <title>PreviewLinks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PreviewLinks - Get preview of links to put on you web page.">
    <meta name="keywords" content="links, preview, thumbnails, PreviewLinks">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<style>
    #banner {
        background-color: #3498db;
        padding: 120px;
        color: #ffffff;
        margin-top: -20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #icon-big {
        text-align: center;
        font-size: 112px;
    }
    #title {
        font-size: 64px;
    }
</style>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-page-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-link"></span>&nbsp&nbspPreviewLinks</a>
        </div>
        <div class="collapse navbar-collapse" id="main-page-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Getting Started</a></li>
                <li><a href="#">Examples</a></li>
                <li><a href="#">API Reference</a></li>
                <li><a href="http://github.com/Somsubhra/PreviewLinks" target="_blank">Github</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="row" id="banner">
    <div class="col-md-2">
        <div id="icon-big"><span class="glyphicon glyphicon-link"></span></div>
    </div>
    <div class="col-md-8">
        <h1 id="title">PreviewLinks</h1>
        <h1>Get preview of links to put on your webpage</h1>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/jquery/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</html>